* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* 
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */
body {
    position: relative;
    height: 100%;

}

.main {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

.qr__content {
    width: 30%;
    margin: auto;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
}

.qr__content-img {
    width: 100%;
}

.qr__content-img-qr {
    width: 100%;
    border-radius: 15px;
}

.qr__content-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    padding: 20px;
}

.qr__content-txt-title {
    font-size: 23px;
    font-weight: 700;
}

.qr__content-txt-paragrafh {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 370px) {
    .qr__content-txt-title {
        font-size: 18px;
        font-weight: 700;
    }

    .qr__content-txt-paragrafh {
        font-size: 14px;
    }
}